<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
<li id="quick-links" class="small-icon responsive-menu dropdown-container<!-- IF not S_DISPLAY_QUICK_LINKS and not S_DISPLAY_SEARCH --> hidden<!-- ENDIF -->" data-skip-responsive="true">
<a href="#" class="responsive-menu-link dropdown-trigger">{L_NAVBAR_LINKS}</a>
	<div class="dropdown hidden">
		<div class="pointer"><div class="pointer-inner"></div></div>
		<ul class="dropdown-contents-navbar" role="menu">
			<!-- EVENT dmzx_navbar_quick_links -->
		</ul>
	</div>
</li>
<!-- ENDIF -->